*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navigation{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    
    
   
    
   
    
}
.nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 10px ;
    position: absolute;
    right: 20px;

    
}

.nav-list a{

    text-align: right;
    color: rgba(255, 255, 255, 0.815);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: medium;
    padding: 5px;
    text-transform: uppercase;
  
}

.nav-list a:hover{
    color: #c00d16;
}

.nav-list span{
    background-color: #c00d16;
    padding: 2px 3px;
    border-radius: 5px;
}
.nav-list span:hover{
    background-color: black;
    color: rgba(255, 255, 255, 0.815);
}


/*hero section*/

.hero-section{
    width: 100%;
}

.hero-section img{
    width: 100%;
    height: 40vh;
    background-position: center;
    object-fit: cover;
}

/*form area*/
.container{
    display: grid;
    justify-content: center;
    align-content: center;
}
.container{
    width: 70%;
    margin: 0 auto;
}

.details{
    padding: 2em;
    text-align: center;
    font-family: 'Poppins', sans-serif; 

}

.details h2{
    text-transform: capitalize;
}

label,input,value{
    font-family: 'Poppins', sans-serif;
}


input[type=text], textarea{
    width: 100%;
    padding: 1.5em;
    margin-top: 6px;
    margin-bottom: 1em;
    resize: vertical;
    font-family: 'Poppins', sans-serif;
}

input[type=submit]{
    padding: 20px;
    color: white;
    background-color: #c00d16;
    width: 100%;
    margin-top: 30px;
}

input[type=submit]:hover{
    background-color: black;
    cursor: pointer;
}









/*footer*/

footer{
    padding-top: 70px;
}
footer .container{
   background-color: #DBE0E6;
   width: 100%;
   height: 25vh;
   padding-top: 5px;

}

footer .details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5em;
}

footer .print{
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #000000;
}

footer ~ p{
    position: relative;
  
}

footer .fa{
    position: relative;
    left: 50px;
}



/* contact-form */

label.error {
    color: red;
    font-size: 12px;
    display: contents;
    margin-top: -15px;
}

form.contact-form {
    max-width: 768px;
    width: 100%;
    display: block;
    width: 768px;
    padding: 0 15px;
}

form.contact-form label {
    width: 100%;
    display: block;
}
@media only screen and (max-width: 767px) {
form.contact-form {
    width: auto;
}
.form .container {
    width: 100%;
    margin: 0;
}
footer .details {
    padding: 2em;
    justify-content: flex-start;
    flex-wrap: wrap;
}
}